@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
@font-face {
    font-family: 'Ownglyph_StudyHard-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_StudyHard-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NoonnuBasicGothicRegular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noon-2410@1.0/NoonnuBasicGothicRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Shiningstar';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Shiningstar';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    overflow: hidden; /* 불필요한 스크롤 방지 */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    height: 100vh;
}

.header{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    background-color: #172339;
    height: 100px;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
}

.main_bg{
    background: linear-gradient(180deg, #1E3051, #192845);
}

.logo{
    width: 100px;
    margin-left: 100px;
}

#kakaoLogin{
    margin-right: 200px;
}

.login:hover{
    background-color: rgba(52, 52, 255, 0.089);
}

#profile-image{
    display: none;
    width: 50px;
    height: 50px;
}

.tree{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.material-symbols-outlined{
    cursor: pointer;
    font-size: 80px;
    margin-top: 30px;
    color: white;
}

.school{
    margin-top: 30px;
    color: white;
    font-size: 45px;
    font-family: Cafe24Shiningstar;
}

.christmas_tree{
    height: 100vh;
}

#tree{
    margin-top: -100px;;
    cursor: pointer;
    width: 850px;
    /* position: relative; */
}

.ornament{
    cursor: pointer;
    position: absolute;
    width: 100px;
    height: 100px;
    /* border: 1px solid white; */
}

.ornament>img{
    width: 100px;
}

#ornament1{
    right: 950px;
    top: 380px;
}

#ornament2{
    right: 820px;
    top: 450px;
}

#ornament3{
    top: 520px;
    right: 1020px;
}

#ornament4{
    top: 580px;
    right: 900px;
}

#ornament5{
    top: 620px;
    right: 750px;
}

.material-symbols-outlined:hover{
    opacity: 0.4;
}

.menu{
    width: 300px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 300px;
    bottom: 70px;
}

.adornment{
    border-radius: 20px;
    width: 192px;
    height: 67px;
    background: linear-gradient(180deg, #D6A187, #C13831);
    font-size: 24px;
    color: white;
    text-align: center;
    line-height: 67px;
    font-family: NanumSquareRound;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 0px 1.3px 1px rgba(131, 40, 32, 0.97);
    box-shadow: inset 0px 3px 3.5px -2px rgb(238, 206, 180);
}

.exchange{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 79px;
    height: 67px;
    border-radius: 20px;
    background: linear-gradient(180deg, #DCD8D8, #868484);
    color: #707479;
    stroke: #979797;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 3px 3.5px -2px rgb(238, 206, 180);
    box-shadow: inset 0px 0px 1.3px 1px rgba(0, 0, 0, 0.97);
    text-shadow: 0px -1px 1.7px 0px rgba(254, 254, 254, 0.25);
}

.paper_bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    display: none;
}

.paper{
    width: 700px;
    height: 430px;
    margin: 200px auto 0;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
}

.ornament_adornment{
    margin-left: 100px;
}

.select_ornament{
    width: 500px;
    height: 300px;
    overflow: auto;
}

.select_ornament::-webkit-scrollbar{
    width: 14px;
    height: 14px;
}
.select_ornament::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 10px;
    border: 4px solid transparent;
    box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.15);
}
    
.select_ornament::-webkit-scrollbar-thumb:hover {
    border: 4px solid transparent;
    box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.3);
}

.select_ornament::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: transparent;
}

.select_ornament>img{
    width: 100px;
    cursor: pointer;
    border-radius: 10px;
}

.select_ornament>img:hover{
    border: 2px solid #333;
}

.want_to_say{
    margin-top: 20px;
    display: none;
}

.title{
    font-family: Ownglyph_StudyHard-Rg;
    display: block;
    margin-top: 10px;
    height: 50px;
    font-size: 35px;
    margin-left: 140px;
}

#mind{
    font-family: Ownglyph_StudyHard-Rg;
    display: block;
    margin-top: 10px;
    margin-right: 100px;
    height: 50px;
    font-size: 35px;
    margin-left: 210px;
}

textarea{
    display: block;
    width: 500px;
    height: 250px;
    margin: 20px auto 0;
    margin-left: 100px;
    margin-right: 50px;
    font-size: 20px;
    resize: none;
    border-radius: 10px;
    border: 1px solid #2757A4;
    font-family: NoonnuBasicGothicRegular;
    padding: 10px 0 0 10px;
}

#paper::placeholder{
    font-size: 16px;
    padding: 4px 0 0 6px;
}

.paper>.close{
    height: 35px;
    font-size: 35px;
    transform: rotate(45deg);
    line-height: 35px;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    justify-self: center;
}

button:hover {
    background-color: #45a049;
}

#success{
    margin-left: 50px;
    margin-top: 20px;
}